.contact_form_input {
  flex-grow: 1;
}

.contact_form_group {
  display: block;
  min-height: 70px;
  margin-bottom: 15px;
}

.contact_form_inner_group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

.contact_form_label {
  width: 100%;
  max-width: 70px;
  display: block;
}

.contact_form_error {
  color: rgb(233, 16, 16);
}
